*{
    list-style: none;
    text-decoration: none;
    margin: 0;
}
/*--------------Declaracion de colores y tamanos-----------*/
:root{
    --colorLink:#66f;
    --titulos:16px;
    --palabras:12px;
    --fondos:#0873a9;
    --margenes:10px;
}
h2{
    font-size: 32px;
}
i{
    font-size: 20px;
}
body,header,section{
    max-width: 767px;
    min-width: 767px;
}
.caja h2,.caja i{
    display: inline-block;
}
.caja i{
    margin-right: 15px;
}
@media(min-width:768px){
    body,header,section{
        
        min-width: 100%;
    }
    
}

.contenedor{
    min-width: 100%;
    display: flex;
}

/*------------Header section-------------------*/
.site-header{
    height: 50px;
    justify-content:space-between;
    align-items: center;
    background: rgb(9,15,121);
    background: linear-gradient(180deg, rgba(9,15,121,0) 0%, rgba(0,212,255,1) 0%, rgba(7,23,100,0.375875350140056) 2%, rgba(2,0,36,1) 100%);
    color: white;
}




.logo-Ar{
    display:flex ;
    justify-content: center;
    align-items: center;
}
.logo-Ar img{
    width: 80px;
    height: 80px;
}
.site-header div{
    margin: var(--margenes);
}
.site-header nav{
    margin: var(--margenes);
}





.nav{
    display: none;
}
@media(min-width:700px){
    .nav{
        display: inline-block;
    }
.nav a{
    color: white;
    margin-left: var(--margenes);
    margin-right: var(--margenes);
    justify-content: center;
    align-items: center;
    
}
}


/*---------banner--------------*/
.banner{
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    border: 1px solid black;
    background-image: url(banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
.banner-img{
    position: absolute;
    
}
.btn-imagen {
    display: none;
    
    
}

.edit-imagenes:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
  }
.edit-imagenes:hover a{
    display: inline-block;
    display: flex;
    background-color: var(--fondos);
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
   opacity: 1;
    
}
/*------------acerca De--------*/

.perfil{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    top:-50px;
    margin-left: var(--margenes);
    z-index: 10;
    background-image: url(banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.personal{
    margin-top: -20px;
    justify-content: space-evenly;
    flex-direction: column;
}
.personal p{
    margin-bottom: 0;
}
.personal span{
    color: #0873a9;
}
/*-------left------------*/
@media (min-width: 768px) {
    .contenedo{
        display: grid;
        grid-template-columns: 1fr 7fr;
    
    
    }
    .perfil:hover::before{
        border-radius: 50%;
    }
    
    .perfil div{
        position: relative;
    }
    
    .personal button{
        margin-right: var(--margenes);
    }
    .personal{
        margin-top: -20px;
        justify-content: space-evenly;
    }
    
    h2{
        margin-right: 15px;
    }

    /*-----rigth----------*/
.rigth div{
    display: flex;
    align-items: center;
}

.caja{
    position: relative;
    text-align: center;
}
.caja i{
    margin-right: var(--margenes);
    font-size: 22px;
}
}



/*---------------------Experiencia--------*/

.caja-format ul li:first-child{
    display: flex;
    align-items: center;

}
li h3{
    margin-right: 10px;
}

/*---------Educacion-------------*/



/*----------Proyectos-----*/


.n1 h2{
    display: inline-block;
    margin-right: var(--margenes);
}

/*-----botones------*/
.btn-edit{
    display: none;
}








.row1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}